<label title="{{ tooltip }}" class="form-label">{{ label }}</label>
<ng-content></ng-content>
<span class="text-danger" *ngIf="validation['required']">
  {{ label }} field is required
</span>
<span class="text-danger" *ngIf="validation['minlength']">
    {{ label }} min length error
</span>
<span class="text-danger" *ngIf="validation['maxlength']">
  {{ label }} maxlength error
</span>
<span class="text-danger" *ngIf="validation['email']">
  {{ label }} Enter valid email
</span>
<span class="text-danger" *ngIf="validation['invalidstate']">
  {{ label }} Enter valid state
</span>