<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="nav-link dropdown-toggle">
        <li class="nav-item dropdown">
          <a role="button" routerLink="/home-component" routerLinkActive="active">
           Home
          </a>
        </li>
        <li class="nav-link dropdown-toggle">
          <a routerLink="/contact-component" role="button" 
          routerLinkActive="active">Contact</a></li>
  
        <li class="nav-link dropdown-toggle" >
          <a routerLink="/angular-component" routerLinkActive="active"
            id="angularMenuDropdown" role="button" 
           data-bs-toggle="dropdown" aria-expanded="false">
           Angular
          </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="angularMenuDropdown">
              <!-- <li><a class="dropdown-item" routerLink="/content-projection-component" routerLinkActive="active">ContentProjection</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <nav>
  <ul>
  <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/contact-component" routerLinkActive="active">Contact</a></li>
  
  <li>
    <a routerLink="/angular-component" routerLinkActive="active">Angular</a>
    <ul>
      <li><a routerLink="/content-projection-component" routerLinkActive="active">ContentProjection</a></li>
    </ul>
  </li>
   </ul>
</nav>
<router-outlet></router-outlet> -->